.GridContainer{
    display: grid;
    grid-template-columns: repeat(3,300px);
    grid-auto-rows: 300px;
    gap: 50px;
    width: 80%;
    margin-top: 50px;
    margin-left: 30px;
}

img{
    height: 200px;
    object-fit: contain;
}

.card{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.description{
    width: auto;
}

.price{
    width: 100px;
    margin-top: 15px;
    margin-right: 190px;
    font-weight: bolder;
}