.QuantityDropdownContainer{
    display: flex;
    flex-direction: column;
    height: 150px;
    margin-top: 100px;
    position: relative;
}

.QuantityButton{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid black;
    width: 70px;
    height: 40px;
    background: white;
}


.QuantityDropdown{
    position: absolute;
    width: 100%;
    display: flex;
    background: white;
    top: 40px;
    border: 1px solid black;
}

.QuantityOptionList{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.QuantityOption{
    padding-left: 19px;
}

.QuantityOption:hover{
    background-color: lightgray;
    width: 100%;
}


