.NavBar{
    display: flex;
    height: 120px;
    padding-top: 0;
    gap: 100px;
}

.logo{
    width: 200px;
    height: 110px;
}

.logoBox{
   height: 120px;
   width: 200px;
   margin-left: 130px;
}

.searchBarBox{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 500px;
}