.dot-toggle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid black;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;
}

.dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    opacity: 0;
}

.dot-toggle.active .dot{
    opacity: 1;
}

